
    <!-- id="main-header" -->
    <div id="container">
        <div class="logo-img">
            
                <img src="./images/logo-no-background2.png"
                    alt="https://logo.com/dashboard/your-logo-files">
                 
           
        </div>
        <h1 class="welcome-msg"><span id="userName"></span></h1>
    </div>
    <div class="menu-icon" id="menu-icon">
        <div class="lines">
            <span class="line first"></span>
            <span class="line sec"></span>
            <span class="line third"></span>
        </div>


    </div>
    <aside id="nav-container">
        <nav>
            <ul>
                <li><a href="/wdd330-personal-project/login/index.html">Log In</a></li>
                <li><a href="/wdd330-personal-project/cycleData/index.html">Past Entries</a></li>
                <li><a href="/wdd330-personal-project/index.html">Home</a></li>

            </ul>
        </nav>
    </aside>

