@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+MX:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

:root {
    /* Colors */
    /* --light-pink: hsl(338, 58%, 73%);
    --dark-pink: rgb(169, 4, 76);
    --btn-background: hsl(180, 100%, 94%);
    --lighter-pink: hsl(4, 100%, 88%);
    --light-blue: hsla(226, 55%, 88%, 0.718);
    --light-lime: hsl(55, 45%, 33%); */
    --lt: hsl(288, 50%, 56%);
    --light-pink: hsl(288, 46%, 69%);
    --dark-pink: hsl(277, 54%, 24%);
    --btn-background: hsl(180, 100%, 94%);
    --lighter-pink: hsl(4, 100%, 88%);
    --light-blue: hsla(226, 55%, 88%, 0.718);
    --light-lime: hsl(282, 37%, 55%);

    /* Fonts */
    --heading-font: 'Courier New', Courier, monospace;
    --nunito-sans: "Nunito Sans", sans-serif;
    --header: "Playwrite NG Modern", cursive;
    --test: "Playwrite DE Grund",
        cursive;
    --welcome: "LXGW WenKai TC",
        cursive;

}
html {
    content: "";
    background-image: url("../images/pexels-pixabay-262713.jpg");
    /* height: 200%; */
    width: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: var(--welcome);
}

.bg {
    padding-bottom: 20px;
}
.logo-img {
    display: flex;
    justify-content: left;
    
}
.logo-img img{
   width: 50%;
   margin-top: -30px;
   margin-bottom: 1%;
}

/* ======= nav menu ========        */
header {
    display: grid;
    grid-template-columns: 500px 1fr;
    position: relative;
}

nav {
    display: flex;
    width: 350px;
    background: var(--dark-pink);
    position: absolute;
    height: auto;
    isolation: isolate;
    top: 2rem;
    right: 0;
    overflow-x: hidden;
    display: none;
}

nav ul {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: stretch;
    list-style-type: none;
    flex: 1;
    line-height: 2em;
    padding: 2%;
   
}

nav li {
    display: flex;
    padding: 5%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 5% 20%;
    text-align: center;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--light-pink);
    }
}

.lines {
    position: absolute;
    top: -25px;
    right: 0;
    padding: 1.5em;
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.lines .first {
    opacity: 1;
    transition: 0.1s ease;
}

.lines .line {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 4px;
    background-color: whitesmoke;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
    &:hover {
        background-color: var(--dark-pink);
    }
}

.menu-icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40px;
    top: 30px;
    right: 0;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    z-index: 1001;
}

.open .lines {
  top: -20px;
    transform: translateX(-260px);
}

.open .lines .first {
    opacity: 0;
}

.open .lines .sec {
    transform: rotate(45deg);
    margin-bottom: -5px;
    background-color: white;
}

.open .lines .sec:hover {
    background-color: var(--light-pink);
    transition: background-color 50ms ease;
}

.open .lines .third {
    transform: rotate(-45deg);
    margin-bottom: -5px;
    background-color: whitesmoke;
}

.open .lines .third:hover {
    background-color: var(--light-pink);
    transition: background-color 50ms ease;
}


#nav-container.open nav {
    display: flex;
    top: 0;
    transform: translateX(0);
    background-color: rgba(69, 28, 94, 0.97);
    z-index: 1000;
}

.calendar-header{
    padding: 10px;
    color: var(--dark-pink);
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}



.welcome-msg {
    display: flex;
    font-style: oblique;
    font-weight: 300;
    color: whitesmoke;
    margin-block: 0;
}


/* .bg h2 {
    display: flex;
    margin-top: 0;
    justify-content: center;
    font-family: var(--test);
    color: var(--btn-background);
    text-shadow: 1px 0px 1px black;
} */

.redDot {
color: var(--dark-pink);
font-size: 52px;
text-shadow: none;
}

.calendar-header > button,
button {
    width: 75px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(128, 128, 128);
    background-color: var(--dark-pink);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    &:hover {
        background-color: white;
        color: var(--light-pink);
        box-shadow: 0 0 10px var(--btn-background);
        font-weight: 600;
        transition: all .3s ease;
    }
}

 .bg {
    z-index: 999;
    /* position: absolute;
    top: 15%; */
    width: 700px;
    max-width: 100%;
    margin: auto;
    background-color: var(--light-pink);
    padding: 1%;
    box-shadow: 0 0 5px white;

}

.main-header {
    background: var(--lt);
    margin-top: 30px;
    width: 700px;
    max-width: 100%;
    margin-inline: auto;
    padding: 3% 1%;
    box-shadow: 0 0 5px white;
   
}

main {
    padding-bottom: 20px;
}

.weekdays {
    max-width: 100%;     
    width: 90%;
    display: flex;
    margin: auto;
    color: var(--btn-background);
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    justify-content: space-between;
    text-shadow: 1px 1px 1px black;
    & div {
        width: 70px;
        padding: 15px 5PX 5PX;
        justify-content: space-evenly;
        text-align: center;
    }

}

.caleContainer {
    margin-inline: auto;
}

.calendar {
    width: 90%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 80px;
    padding: 1px 5px;
    height: 80px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    color: var(--dark-pink);
    max-width: 100%;
}

.day:hover {
    background-color: var(--lighter-pink);
}

/* ======= Modal Events ========= */

.event-range {
    background-color: #ea8b8bc5;
}

.event {
    font-size: 11px;
    padding: 3px;
    background-color: rgb(154, 6, 6);
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

.currentDay {
    background-color: var(--light-blue);
    color: rgb(10, 10, 56);
}

.newEventModal,
.deleteEventModal {
    display: none;
    z-index: 20000;
    position: absolute;
    padding: 10px 10px 25px;
    background-color: var(--dark-pink);
    color: white;
    box-shadow: 0px 0px 3px white;
    border-radius: 5px;
    width: 800px;
    height: max-content;
    max-width: 100%;
    inset: 0;
    top: 50px;
    margin-inline: auto;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    /* z-index: 10000; */
    & h2 {
        color: white;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;
        padding: 1%;
    }
}

.eventTitleInput {
    display: block;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

.eventTitleInput.error {
    border: 2px solid red;
}


#closeButton {
    background-color: #e24848;

    & :hover {
        color: #e24848;
        background-color: white;
    }
}

#cancelButton, #saveButton {
    width: 200px;
    padding: 2%;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(45, 18, 62, 0.97);
    &:hover {
        color: var(--lt);
        background-color: white;
        transition: all .4s ease;
    }
}
.eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    height: 200vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

/* =========  Modal functionality ==========   */

.newEventModal form {
   display: block;
   & label {
    padding: 0.2%;
   }
}

.emotionForm {
    display: flex;
    flex-wrap: wrap;
   padding: 2%;
   & label {
    flex-basis: calc(30% - 1px);
   }
}

.physicalForm {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;

    & label {
        flex-basis: calc(30% - 1px);
    }
}

legend {
    padding: 3% 2% 1%;
    margin: auto;
    font-size: 18px;
}
.start-end label {
    display: block;
   accent-color: red; 
   font-size: 20px;
   margin: 1%;
}

.radio  {
    font-size: 18px;
    accent-color: red;
    
}
.flow-container label{
    display: flex;
    margin: 2%;
    font-size: 18px;
    accent-color: red;
    
    
}
.text-area {
    margin-left: 1%;
}
.drop {
    display: block;
    width: 20px;
    height: 20px;
    fill: rgb(185, 19, 19);
    margin-left: 3px ;
    margin-right: 3px;
    
    
}

.drop-notes {
    width: 20px;
    height: 20px;
    fill: rgb(185, 19, 19);
    margin-inline: 2px;
    /* stroke: white;
    stroke-width: 2px; */
}
.flow-title {
    font-size: smaller;
}

/* .start-end input {
    font-size: 20px;
} */

/* ======= Login ========*/

.outer-wrapper {
    display: block;
    margin-inline: auto;
    width: 700px;
    padding: 2% 0;
    max-width: 100%;
    /* height: 100vh; */
    /* background: url("../images/pexels-pixabay-262713.jpg");
    background-size: cover;
    background-position: left; */
}

.wrapper {
    width: 400px;
    margin-inline: auto;
    background: transparent;
    border: 2px solid rgba(169, 4, 76, 0.576);
    color: var(--dark-pink);
    border-radius: 10px;
    padding: 30px 35px;
    backdrop-filter: blur(20px);
    backface-visibility: visible;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    font-weight: 600;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(169, 4, 76, 0.576);
    border-radius: 10px;
    font-size: 16px;
    color: var(--dark-pink);
    padding: 0.2rem 20px;
    margin-left: -20px;
    font-weight: 600;
}

.input-box input::placeholder {
    color: var(--dark-pink); 
    font-weight: 500;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 15px;
    font-weight: 600;
}

.remember-forgot label input {
    accent-color: var(--dark-pink);
    margin-right: 3px;
}
.remember-forgot a {
    color: var(--dark-pink);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.wrapper .login-btn {
    display: flex;
    width: 100%;
    height: 45px;
    max-width: 100%;
    background: var(--dark-pink);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

input:invalid {
    border-color: var(--dark-pink);
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */

.error {
    display: block;
    width: 100%;
    padding: 1px 10px;
    font-size: 14px;
    color: white;
    background-color: rgb(157, 3, 3);
    border-radius: 0 0 5px 5px;
    margin-top: -15px;
    box-sizing: border-box;
}

.error.active {
    display: block;
    color: #fff;
}

.error {
    display: none;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1%;
    background-color: hsl(288, 69%, 90%);
    opacity: 1;
    transition: opacity .5s ease-out;
    
}

.fade-out {
    opacity: 0;
}
.alert > * {
    align-items: center;
    padding: 0 2%;
    font-size: 18px;
    color: var(--dark-pink);
    font-weight: 900;
    
}

.alert > span {
    cursor: pointer;
}

/*   Calendar prediction msg   */

.calendar-msg-container {
    background-color: var(--dark-pink);
    width: 700px;
    max-width: 100%;
    padding: 1%;
    margin-inline: auto;
    color: white;
    font-size: 18px;
    box-shadow: 0 0 5px white;
    & div {
        padding-left: 6%;
    }
}

/*  ========  Personal Notes Entries =======           */

#note {
   margin-left: -35px;
}
.notes-container ul  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    justify-content: space-evenly;
    & li {
        background-color: var(--btn-background);
        padding: 1% 2%;
        width: 300px;
        justify-items: center;
    }
    
    
    
}
footer {
    opacity: 1;
    width: 700px;
    max-width: 100%;
    display: block;
    margin-inline: auto;
    background-color: var(--lt);
    margin-top: -19px;
    padding: 0.2em 1%;
   
    & p {
        font-style: 800;
        font-size: 18px;
    }
    
}

     

@media (width < 460px) {

    html {
        background-image: none;
        background: var(--light-pink);
        
        
    }
    .logo-img {
        padding-top: 20px;
    }
    body, header{
        display: block;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
  
    .bg {
        display: block;
        box-shadow: none;
        padding-bottom: 20px;
    }
    .main-container {
        display: block;
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .weekdays {
        display: flex;
        margin-left: 9px;
        margin-bottom: -5px;
    }

    .weekdays > * {
        width: 58%;
        display: flex;
        color: var(--btn-background);
        margin-block: 0;
        font-size: 14px;
        /* margin-left: -5px; */
        margin-right: 15px;
        text-shadow: 1px 1px 1px black;
    }

    .day {
        font-size: 12px;
        width: 40px;
        height: 40px;
        margin-inline: 5px;
        
    }
    
    .caleContainer{
        width: 360px;
    }
    .welcome-msg {
        font-size: 20px;
    }

    .calendar {
        margin: 0 5px;
        width: 100%;
    }

    /* Modal */
    .deleteEventModal, .newEventModal {
        top: 0;
        width: 345px;
    }

    /* login */
    
    .wrapper {
        width: 300px;
        background-color: #FFFCFF;
    }

    .lines:hover .line:hover {
        background-color: whitesmoke;
    }

    .emotionForm{
        display: grid;
        grid-template-columns: auto auto;
    }

    .physicalForm {
        display: grid;
        grid-template-columns: auto auto;
    }

    footer p{
        font-size: 15px;
    }
    
   
}
